html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

$colors: red, orange, yellow, green, dodgerblue, purple, violet red;
$colors2: violet, red, orange, yellow, green, dodgerblue, purple, violet;

.logo{
  width: 200px;
  &__path{
    stroke-width: 0px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-dasharray: 151.5 151.5 151.5;
    // animation: dash 10s linear infinite;
    transition: stroke-width 1s ease, fill 0.25s ease;
    fill: #fff;
  }
  &__stop{
    &--1{
      stop-color: nth($colors, 1);
      animation: rainbow 5s infinite linear;
    }
    &--2{
      stop-color: nth($colors2, 1);
      animation: rainbow2 5s infinite linear 2s;
    }
  }
  &:hover &__polygon{
    fill: white;
    stroke-width: 0;
  }
}

@keyframes rainbow {
  @each $color in $colors {
    #{index($colors, $color) / length($colors) * 100%}{
      stop-color: $color;
    }
  }
}

@keyframes rainbow2 {
  @each $color in $colors2 {
    #{index($colors2, $color) / length($colors2) * 100%}{
      stop-color: $color;
    }
  }
}